[submodule "spine-demo/spine-runtimes"]
	path = spine-demo/spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes.git
[submodule "libgdx/cuboc/libgdx-demo-cuboc"]
	path = libgdx/cuboc/libgdx-demo-cuboc
	url = https://github.com/libgdx/libgdx-demo-cuboc.git
[submodule "libgdx/metagun/libgdx-demo-metagun"]
	path = libgdx/metagun/libgdx-demo-metagun
	url = https://github.com/libgdx/libgdx-demo-metagun.git
[submodule "libgdx/invaders/libgdx-demo-invaders"]
	path = libgdx/invaders/libgdx-demo-invaders
	url = https://github.com/libgdx/libgdx-demo-invaders.git
